@charset "utf-8";
// import Roboto from google font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
// import scss files
@import "variables";
@import "mixins";

// ======= GENERAL STYLES =======

// ----------- SPANS ------------

span.large, h2, i {
    @include span($margin: 5px 0 5px 0, $size: 20px, $weight: 500)
}

span.small {
    @include span($size: 12.5px, $weight: 300);
}

// ------------ BOX -------------

.box {
    // rounded box by default
    @include box;
    // column layout by default
    @include flex;
}

// ------------ PAGE ------------

body {
    width: 100%;
    // remove default margin
    margin: 0px;
    // set default font
    font-family: 'Roboto', sans-serif;
}

header {
    height: 100px;
    // content layout management
    @include flex;
    // padding
    padding: $padding_default;
    // logo
    > img {
        height: 100px;
    }
}

main {
    // content layout management
    @include flex($direction: row, $align: center, $justify: flex-start);
    // additional properties
    flex-wrap: wrap;
    margin: 0 100px;
    // stop viewport shrinking
    min-width: 1410px;
    // recipes thumbnails
    > article {
        // box properties
        @include box($width: 450px, $padding: unset);
        // additional properties
        margin: 25px calc((100% - 1350px) / 2) 25px 0;
        overflow: hidden;
        // recipe image
        > div:nth-of-type(1) {
            // box properties
            @include box($width: 450px, $height: 225px, $backcolor: $color_recipe_1, $radius: 0px);
        }
        // recipe details
        > div:nth-of-type(2) {
            // box properties
            // @include box($width: 450px, $height: 225px, $backcolor: $color_recipe_2, $radius: 0px);
            @include box($width: 100%, $height: 235px, $padding: 20px 20px, $backcolor: $color_recipe_2, $radius: 0px);
            // content layout management
            @include flex($direction: row);
            // additional properties
            flex-wrap: wrap;
            align-content: space-around;
            // common properties
            > * {
                // box properties
                @include box($padding: 0px);
                // content layout management
                @include flex($align: flex-start);
            }
            > h2 {
                // overridings
                width: 75%;
                height: 45px;
                // additional properties
                margin-block: unset;
                margin-inline: unset;
            }
            > i {
                // overridings
                width: 5%;
                height: 45px;
            }
            > span:nth-of-type(1) {
                // overridings
                width: 20%;
                height: 45px;
                align-items: center;
            }
            > div:nth-of-type(1) {
                // overridings
                width: 50%;
                height: 175px;
                justify-content: flex-start;
            }
            > span:nth-of-type(2) {
                // overridings
                width: 50%;
                height: 175px;      
                justify-content: flex-start;     
            }
        }
    }
    // keep the thumbnail layout left aligned whatsoever
    > article:nth-of-type(3n) {
        margin-right: 0;
    }
}