@charset "utf-8";
// import Roboto from google font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
// import scss files
@import "variables";
@import "mixins";

// ======= GENERAL STYLES =======

// ---------- DISPLAY -----------
.display-none {
    display: none;
}

// ----------- SPANS ------------

span.large, h2, i {
    @include span($margin: 5px 0 5px 0, $size: 20px, $weight: 500);
}

span.small {
    @include span($size: 12.5px, $weight: 300);
}

span.icon {
    // box properties
    @include box($width: 50px, $height: 50px, $radius: 0 $radius_default $radius_default 0);
    // content layout management
    @include flex;
        // additional properties
        > i.select-icon:hover {
            cursor: pointer;
        }
}

.list-open {
    // rotate chevron-down icon from 0 to 180°, clockwise
    @include spin($start: 0deg, $finish: 180deg, $direction: reverse);
}

.list-close {
    // rotate chevron-down icon from 180° to 0, counterclockwise
    @include spin($start: 180deg, $finish: 0deg, $direction: normal);
}

// ---------- INPUTS ------------

input {
    // box properties
    @include box($height: 50px, $radius: $radius_default 0 0 $radius_default);
    // additional properties
    border: 0px;
}

// ------------ BOX -------------

.box {
    // rounded box by default
    @include box;
    // column layout by default
    @include flex;
}

// --------- TAGS LIST ----------

// tags selectors
div.tags {
    // box properties
    @include box($width: 100%, $height: 70px, $padding: 10px 0px);
    // content layout management
    @include flex($direction: row, $align: flex-start, $justify: flex-start);
    // additional properties
    flex-wrap: wrap;
    margin: 5px 0 0 0;
    // wrapper div
    > div {
        // positioning
        position: relative;
        z-index: 10;
        // content layout management
        @include flex;
        // additional properties
        margin-right: 20px;
        // input
        > div {
            // box properties
            @include box($width: 100%, $padding: 0);
            // content layout management
            @include flex($direction: row, $align: center, $justify: flex-start);
            // additional properties
            flex-wrap: wrap;
            > input {
                // additional properties
                width: calc(100% - 50px);
                color: white;
                // pseudo selectors
                &::placeholder {
                    color: white;
                }
            }
            i {
                // additional properties
                color: white;
            }
        }
    }
    
    > div:nth-of-type(1) {
        // box properties
        @include box($backcolor: $color_search_1, $padding: 0);
    }
    
    > div:nth-of-type(2) {
        // box properties
        @include box($backcolor: $color_search_2, $padding: 0);
    }
    
    > div:nth-of-type(3) {
        // box properties
        @include box($backcolor: $color_search_3, $padding: 0);
    }
}

.taglist {
    // box properties
    @include box($padding: 0);
    // content layout management
    @include flex($direction: row, $align: flex-start, $justify: flex-start);
    // additional properties
    flex-wrap: wrap;
    list-style: none;
    margin: 0px;
    > li {    
        // box properties
        @include box($width: $tag_col_width, $height: 32.5px);
        // content layout management
        @include flex($align: flex-start);
        // font
        @include span($margin: 0, $size: 15.5px, $weight: 300, $color: white);
        // additional properties
        &:hover {
            cursor: pointer;
        }
    }
}

.taglist-cols-1 {
    // additional properties
    // width: $tag_col_width * 1;
    width: 250px;
}

.taglist-cols-2 {
    // additional properties
    width: $tag_col_width * 2;
}

.taglist-cols-3 {
    // additional properties
    width: $tag_col_width * 3;
}

.selectedTagList {
    // box properties
    @include box($width: 100%, $padding: 0);
    // content layout management
    @include flex($direction: row, $justify: flex-start);
    // additional properties
    flex-wrap: wrap;
    list-style: none;
    color: white;
    margin-bottom: 0;

    > li {  
        // box properties
        @include box($height: 35px);
        // content layout management
        @include flex($direction: row, $justify: flex-start);
        // additional properties
        margin: 10px 15px;
        // flex-wrap: nowrap;
        > i {
            // additional properties
            margin-left: 10px;
            color: white;
            cursor: pointer;
        }
    }
}


li.ingredients-tag-list-selected {
    // additional properties
    background-color: $color_search_1;
}

li.appliances-tag-list-selected {
    // additional properties
    background-color: $color_search_2;
}

li.ustensils-tag-list-selected {
    // additional properties
    background-color: $color_search_3;
}

// ------- RECIPES LIST ---------

div.recipes {
    // content layout management
    @include flex($direction: row, $align: center, $justify: flex-start);
    // additional properties
    width: 100%;
    flex-wrap: wrap;
    // recipes thumbnails
    > article {
        // box properties
        @include box($width: 475px, $padding: unset);
        // additional properties
        margin: 25px calc((100% - 1425px) / 2) 25px 0;
        overflow: hidden;
        // recipe image
        > div:nth-of-type(1) {
            // box properties
            @include box($width: 475px, $height: 225px, $backcolor: $color_recipe_1, $radius: 0px);
        }
        // recipe details
        > div:nth-of-type(2) {
            // box properties
            @include box($width: 100%, $height: 235px, $padding: 20px 20px, $backcolor: $color_recipe_2, $radius: 0px);
            // content layout management
            @include flex($direction: row);
            // additional properties
            flex-wrap: wrap;
            align-content: space-around;
            // common properties
            > * {
                // box properties
                @include box($padding: 0px);
                // content layout management
                @include flex($align: flex-start);
            }
            > h2 {
                // overridings
                width: 75%;
                height: 45px;
                // additional properties
                margin-block: unset;
                margin-inline: unset;
            }
            > i {
                // overridings
                width: 5%;
                height: 45px;
            }
            > span:nth-of-type(1) {
                // overridings
                width: 20%;
                height: 45px;
                align-items: center;
            }
            > div:nth-of-type(1) {
                // overridings
                width: 50%;
                height: 175px;
                justify-content: flex-start;
            }
            > span:nth-of-type(2) {
                // overridings
                width: 50%;
                height: 175px;      
                justify-content: flex-start;     
            }
        }
    }
    // keep the thumbnail layout left aligned whatsoever
    > article:nth-of-type(3n) {
        margin-right: 0;
    }

}

// ------------ PAGE ------------

body {
    width: 100%;
    // remove default margin
    margin: 0px;
    // set default font
    font-family: 'Roboto', sans-serif;
}

header {
    height: 100px;
    // content layout management
    @include flex;
    // padding
    padding: $padding_default;
    // logo
    > img {
        height: 100px;
    }
}

main {
    // content layout management
    @include flex($direction: row, $align: center, $justify: flex-start);
    // additional properties
    flex-wrap: wrap;
    margin: 0 100px;
    // stop viewport shrinking
    min-width: 1520px;

    // text search field
    > input:first-of-type {
        // additional properties
        width: calc(100% - 50px);
        background-color: $color_recipe_2;
    }
    > span.icon {
        // additional properties
        background-color: $color_recipe_2;
    }
}