// ================ SCSS VARIABLES ==================

// default box-sizing
$box_sizing: border-box;

// select areas colors
$color_search_1: #3481f5;
$color_search_2: #68d9a5;
$color_search_3: #eb6552;

// recipes thumbnails colors
$color_recipe_1: #c8bebd;
$color_recipe_2: #e7e7e7;

// border radiuses
$radius_default: 7.5px;

// default padding
$padding_default: 10px 10px;

// fonts size
$font_large: 30px;
$font_small: 15px;

// tag list singlo column width
$tag_col_width: 160px;